@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  height: 100%;
}

html {
  scroll-behavior: smooth;
}

.section {
  min-height: 100vh;
  scroll-snap-align: start;
}

.scroll-wrapper {
  height: 100vh;
  overflow-y: auto;
  scroll-snap-type: y mandatory;
}
